main{
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 10vh;
}

.title-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: white;
    font-size: 3rem;
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Mansalva';
}

.sub-titles-container{
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Mulish', sans-serif;
}

.sub-title1{
    font-size: 2.5rem;
    font-weight: 700;
}

.sub-title2{
    font-size: 1.5rem;
}

.button-apresentacao-container{
    padding-top: 15vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    font-family: 'Pangolin';
    text-shadow: 0px 7px 4px rgba(0, 0, 0, 0.25);
}

.image-retrato{
    height: 31\vh;
}

.button-apresentacao{
    width: 900px;
    height: 30vh;

    background: #D62D2D;
    border-radius: 12px;

    display: flex;
}

.button-container{
    display: flex;
    flex-direction: column;

    padding-top: 3vh;
    padding-left: 3vw;
    gap: 4vh;
}

.tittle-button{
    display: flex;
    font-size: 4rem;
}

.button-descricao{
    width: 70%;
}

.sub-titles-container2{
    padding-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Mulish', sans-serif;
}

.buttons-bd-container{
    gap: 3vw;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
}

.buttons-bd-container-2{
    padding-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}

.buttons-bd-1{
    height: 300px;
    width: 500px;

    background: rgba(251, 29, 1, 0.77);
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.buttons-bd-2{
    height: 300px;
    width: 500px;

    background: #CA670D;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.buttons-bd-3{
    height: 170px;
    width: 500px;

    background: #F6D554;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}